body,
h1,
h2,
h3,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: none;
  font: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 24px;
  text-align: center;
  width: 650px;
  border-bottom: 2px solid #BDBDBD;
  padding-bottom: 37px;
  margin: auto;

}

.cinema-nav ul {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 28px;
}

.cinema-nav button {
  padding: 10px 20px;
  color: #828282;
}

.cinema-nav button.active {
  font-weight: bold;
  color: #000
}

a{
  text-decoration: none;
  color: inherit;
}

.cinema-card{
  width: 220px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.cinema-contents{
  padding: 19px 20px 18px;
}


.cinema-contents img{
  /* border: 1px solid #BDBDBD;/ */
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
aspect-ratio: 180 / 250;
max-width: 180px;
object-fit: cover;
}

.cinema-title{
  font-size: 16px;
  margin: 12px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cinema-info{
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;

}
.cinema-info li :first-child{
  color: #828282;
  margin-right: 5px;

}

.star{
  background: url(./img/Star.png) no-repeat;
  padding-left: 20px;
  padding-bottom: 1.3em;
}

.ellipsis{
  white-space: inherit;
  text-overflow: ellipsis;
}